html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

main,
header,
footer {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1024px;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header>img {
  width: 64px;
  height: 64px;
}

footer {
  margin-top: 2rem;
  color: #888;
}

#flow-chart-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #888;
  max-width: fit-content;
}

#flow-chart {
  width: 500px;
  height: 500px;
  max-width: calc(100vw - 2rem - 2px);
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 1rem 0;
}

#flow-chart > img {
  max-width: 100%;
}

li {
  margin-bottom: 0.25rem;
}